*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

/* All body elements */
.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Password Generator */
header {
  text-align: center;
  padding: 10px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

/* Card */
.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  height: 480px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* Slider */
.choice1 {
  height: 27px;
  text-align: left;
  margin: 20px 0px 0px 0px;
}

/* Range of slider */
#inputRange {
    width: 100%;
    margin: 5px 0px 10px 0px;
}


/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 10px; /* Specified height */
  background: grey; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background:blue; /* Blue background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/* Checkbox options (special characters, numbers etc.)  */
label {
  margin-left: 10px;
}

.pswdOptions {
  margin-top: 12px;
}

/* Elements under textarea where password is printed */

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

/* Generate Password button */
.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

/* Generate Password button */
button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

/* Text area in which password is printed after generate button is clicked */

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 60px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 33px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

/* Breakpoints to ensure responsiveness are 793px, 690px & 500px */

@media (max-width: 793px) {
  /* Checkbox options */
  label {
    float: left;
    width: 100%;
  }

  /* Textarea where password is generated */
  .card-body {
    margin-top: 120px;
  }

  /* Card */
  .card {
    height: 550px;
  }

}

@media (max-width: 690px) {
  /* Generate Password button */
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  /* Textarea where password is generated */
  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {

  /* Word Password Length, Number value of password length, Generate password button, option names respectively  */
  .choice1, .demo, .btn, label {
    font-size: 0.8rem;
  }

  /* 'Generate a Password' card header */
  .card-header h2 {
    font-size: 15px;
  }

  /* Card */
  .card {
    height: 520px;
  }

}
